<div class="collections">
  <div class="container">
    <div class="collections__slider">
      <div class="swiper-wrapper">
        @@for (var i = 0; i < 12; i++) {
        <div class="swiper-slide collections__slider-slide">
          <div>
            <img src="img/img-1.png" alt="" />
            <div class="collections__slider-slide-head">
              <span>COUTURE COLLECTIONS</span>
              <button><img src="img/icon-3.svg" alt="" /></button>
            </div>
            <div class="collections__slider-slide-bottom">
              <div>
                <span>EL’CHANTEL’</span><span>Цена за весь образ 10000 ₽</span>
              </div>
              <img src="img/logo-2.svg" alt="" />
              <div>
                <span>COUTURE</span><span>COLLECTIONS</span
                ><span>Романтичный образ</span>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="collections__grid">
      <h1>ВЕСНА - ЛЕТО</h1>
      <div>
        @@for (var i = 0; i < 8; i++) { @@include('./catalog-item.html') }
      </div>
      <button>ВСЯ КОЛЛЕКЦИЯ</button>
    </div>
  </div>
</div>
