<div class="collections">
  <div class="container">
    <div class="collections__slider">
      <div class="swiper-wrapper">
        @@for (var i = 0; i < 4; i++) {
        <div class="swiper-slide collections__slider-slide"><div></div></div>
        <div class="swiper-slide collections__slider-slide"><div></div></div>
        <div class="swiper-slide collections__slider-slide"><div></div></div>
        }
      </div>
    </div>
    <div class="collections__grid">
      <h1>ВЕСНА - ЛЕТО</h1>
      <div>
        @@for (var i = 0; i < 8; i++) { @@include('./catalog-item.html') }
      </div>
      <button>ВСЯ КОЛЛЕКЦИЯ</button>
    </div>
  </div>
</div>
