.blog {
  height: 1320px;
  background-image: url("../img/img-4.png");
  background-size: cover;
  background-position: center center;
  @media (max-width: 1024px) {
    height: 1059px;
    background-image: url("../img/img-5.png");
  }
  @media (max-width: 550px) {
    height: 723px;
    background-image: url("../img/img-6.png");
    background-position: 52.3% center;
  }
  & > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 111px;
    @media (max-width: 1024px) {
      padding-bottom: 38px;
    }
    @media (max-width: 550px) {
      padding-bottom: 67px;
    }
    & > p {
      margin-top: 25px;
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 50px;
      text-align: center;
      color: #000;
      @media (max-width: 1024px) {
        font-size: 36px;
      }
      @media (max-width: 550px) {
        font-size: 32px;
        margin-top: 14px;
      }
    }
    & > img {
      @media (max-width: 1024px) {
        width: 146px;
        height: 189px;
      }
      @media (max-width: 550px) {
        width: 115px;
        height: 149px;
      }
    }
  }
}
