.catalog {
  background: #f7f3ee;
  padding: 201px 0 88px 0;
  height: 100%;
  @media (max-width: 1024px) {
    padding: 150px 0 88px 0;
  }
  @media (max-width: 550px) {
    padding: 70px 0 38px 0;
  }
  & > div {
    text-align: center;
    & > div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 20px;
      row-gap: 96px;
      margin-bottom: 96px;
      @media (max-width: 1300px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
        row-gap: 51px;
        margin-bottom: 75px;
      }
      @media (max-width: 724px) {
        grid-template-columns: 1fr;
        row-gap: 22px;
        margin-bottom: 41px;
      }
    }
    & > button {
      font-size: 24px;
      text-align: center;
      color: #000;
      border: 2px solid #000;
      border-radius: 50px;
      height: 63px;
      background-color: transparent;
      width: 328px;
      @media (max-width: 550px) {
        font-size: 14px;
        height: 33px;
        width: 100%;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media (max-width: 1024px) {
      gap: 10px;
    }
    & > div {
      position: relative;
      &:first-child {
        height: 560px;
        background: #d9d9d9;
        @media (max-width: 1024px) {
          height: 430px;
        }
        @media (max-width: 550px) {
          height: 333px;
        }
        & > img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }
      &:last-child {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        color: #000;
      }
    }
    &-block-1,
    &-block-2 {
      font-size: 14px;
      color: #000;
      position: absolute;
      left: 3px;
      right: 3px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 550px) {
        font-size: 10px;
      }
    }
    &-block-1 {
      top: 3px;
      & > button {
        background-color: transparent;
        & > img {
          width: 25px;
          height: 23px;
          @media (max-width: 550px) {
            width: 17px;
            height: 16px;
          }
        }
      }
    }
    &-block-2 {
      bottom: 3px;
    }
  }
}
