.collections {
  background: #f7f3ee;
  padding: 201px 0 88px 0;
  height: 100%;
  overflow: hidden;
  &__grid {
    text-align: center;
    margin-top: 87px;
    & > h1 {
      font-size: 24px;
      text-align: center;
      color: #000;
      margin-bottom: 54px;
    }
    & > div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 20px;
      row-gap: 96px;
      margin-bottom: 76px;
    }
    & > button {
      font-size: 24px;
      text-align: center;
      color: #000;
      border: 2px solid #000;
      border-radius: 50px;
      height: 63px;
      background-color: transparent;
      width: 328px;
    }
  }
  &__slider {
    margin: 0 auto;
    height: 570px;
    padding-top: 94px;
    padding-bottom: 44px;
    max-width: 1435px;
    overflow: hidden;
    &-slide {
      & > div {
        height: 100%;
        transform: scale(1);
        position: relative;
        display: flex;
        flex-direction: column;
        & > img {
          border-radius: 235px 235px 0 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-head {
        font-size: 16px;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        & > button {
          background-color: transparent;
          & > img {
            width: 26px;
            height: 24px;
          }
        }
        display: none;
      }
      &-bottom {
        margin-top: auto;
        display: grid;
        grid-template-columns: 1fr 62px 1fr;
        transform: translateY(36px);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        & > img {
          width: 62px;
        }
        & > div {
          padding-top: 31px;
          display: flex;
          flex-direction: column;
          font-size: 14px;
          color: #000;
          &:nth-child(1) {
            gap: 18px;
          }
          &:nth-child(3) {
            align-items: end;
          }
        }
        display: none;
      }
      &.swiper-slide-active {
        & > div {
          transform: scale(1.2) translateY(-36px);
          & > .collections__slider-slide-head {
            display: flex;
          }
          & > .collections__slider-slide-bottom {
            display: grid;
          }
        }
      }
    }
  }
}
