.collections {
  background: #f7f3ee;
  padding: 201px 0 88px 0;
  height: 100%;
  overflow: hidden;
  &__grid {
    text-align: center;
    margin-top: 87px;
    & > h1 {
      font-size: 24px;
      text-align: center;
      color: #000;
      margin-bottom: 54px;
    }
    & > div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 20px;
      row-gap: 96px;
      margin-bottom: 76px;
    }
    & > button {
      font-size: 24px;
      text-align: center;
      color: #000;
      border: 2px solid #000;
      border-radius: 50px;
      height: 63px;
      background-color: transparent;
      width: 328px;
    }
  }
  &__slider {
    margin: 0 auto;
    height: 530px;
    padding-top: 94px;
    &-slide {
      & > div {
        border-radius: 235px 235px 0 0;
        background: #d9d9d9;
        height: 100%;
        transform: scale(1);
      }
      &.swiper-slide-active {
        & > div {
          transform: scale(1.2) translateY(-36px);
        }
      }
    }
  }
}
