.find-city-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(39, 30, 29, 0.86);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  & > div {
    width: 687px;
    height: 100%;
    background: #f7f3ee;
    margin-left: auto;
    padding: 89px 149px 89px 129px;
    overflow: auto;
    position: relative;
    @media (max-width: 768px) {
      width: 100%;
      padding: 70px 50px;
    }
    @media (max-width: 500px) {
      padding: 22px 28px;
    }
    & > button {
      position: absolute;
      right: 30px;
      top: 30px;
      background-color: transparent;
      @media (max-width: 768px) {
        & > img {
          width: 20px;
          height: 20px;
          top: 22px;
          right: 28px;
        }
      }
    }
    & > input {
      height: 100px;
      width: 100%;
      background-color: transparent;
      border-bottom: 1px solid #000;
      margin-bottom: 68px;
      @media (max-width: 500px) {
        margin-bottom: 30px;
        height: auto;
        padding: 10px 10px 10px 0;
        margin-top: 30px;
      }
      &::placeholder {
        font-weight: 600;
        font-size: 82px;
        color: #ccbeb1;
        @media (max-width: 500px) {
          font-size: 16px;
        }
      }
      font-weight: 600;
      font-size: 82px;
      color: #ccbeb1;
      @media (max-width: 500px) {
        font-size: 16px;
      }
    }
    & > ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
      font-weight: 600;
      font-size: 20px;
      color: #000;
    }
  }
}
