.footer {
  &__block-1 {
    background: #ccbeb1;
    padding: 92px 50px 82px 50px;
    & > div {
      max-width: 854px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 60px;
      & > ul {
        font-family: var(--font-family);
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        & > li {
          & > a {
            color: #271e1d;
          }
        }
      }
    }
  }
  &__block-2 {
    background: #eae1d3;
    padding: 45px 50px;
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > p {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 20px;
        color: #271e1d;
        display: flex;
        gap: 20px;
        & > a {
          color: #271e1d;
        }
      }
      & > a {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 20px;
        text-decoration: underline;
        color: #271e1d;
      }
    }
  }
  &__block-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    & > a:first-child,
    & > span,
    & > ul > li > a {
      font-size: 20px;
      color: #271e1d;
    }
    & > ul {
      display: flex;
      gap: 15px;
    }
  }
  &__btn {
    margin-top: 20px;
  }
  &__logo {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 50px;
    color: #271e1d;
  }
}
