.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 40px 0;
  background: #fbfaf7;
  z-index: 1;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__block-1,
  &__block-3 {
    display: flex;
    gap: 29px;
    white-space: nowrap;
    & > button {
      background-color: transparent;
      display: flex;
      gap: 19px;
      font-family: var(--font3);
      font-size: 20px;
      color: #000;
    }
  }
  &__block-2 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 40px;
    color: #000;
  }
}
