.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 40px 0;
  background: #ccbeb1;
  z-index: 2;
  transition: 0.3s;
  &.active {
    background: #fbfaf7 !important;
  }
  @media (max-width: 550px) {
    padding: 17px 0;
  }
  & > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &__block-1,
  &__block-3 {
    display: flex;
    gap: 29px;
    white-space: nowrap;
    @media (max-width: 1024px) {
      gap: 26px;
    }
    & > button {
      background-color: transparent;
      display: flex;
      gap: 19px;
      font-family: var(--font3);
      font-size: 20px;
      color: #000;
      @media (max-width: 1024px) {
        align-items: center;
        gap: 13px;
        & > img {
          width: 28px;
          height: 29px;
        }
      }
    }
  }
  &__block-1 {
    & > button {
      &:nth-child(1) {
        & > img {
          width: 21px;
          height: 22px;
        }
        @media (max-width: 550px) {
          font-size: 15px;
          gap: 8px;
          & > img {
            width: 19px;
            height: 20px;
          }
        }
      }
      &:nth-child(3) {
        & > img {
          width: 23px;
          height: 23px;
        }
        @media (max-width: 550px) {
          font-size: 0;
          gap: 0;
          & > img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    @media (max-width: 550px) {
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }
  }
  &__block-2 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 40px;
    & > a {
      color: #000;
    }
    &.mobile {
      display: none;
      @media (max-width: 550px) {
        display: block;
        font-size: 20px;
      }
    }
    @media (max-width: 1024px) {
      font-size: 36px;
    }
    @media (max-width: 550px) {
      &.desktop {
        display: none;
      }
    }
  }
  &__block-3 {
    & > button {
      &:nth-child(1) {
        & > img {
          width: 27px;
          height: 25px;
        }
      }
      &:nth-child(2) {
        & > img {
          width: 25px;
          height: 25px;
        }
      }
      &:nth-child(3) {
        & > img {
          width: 23px;
          height: 25px;
        }
      }
      @media (max-width: 1024px) {
        font-size: 0;
        gap: 0;
      }
      @media (max-width: 550px) {
        &:nth-child(1) {
          & > img {
            width: 27px;
            height: 25px;
          }
        }
        &:nth-child(2) {
          & > img {
            width: 25px;
            height: 25px;
          }
        }
        &:nth-child(3) {
          & > img {
            width: 23px;
            height: 25px;
          }
        }
      }
    }
    @media (max-width: 750px) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px solid #ccbeb1;
      padding: 14px 0;
      gap: 97px;
      justify-content: center;
      z-index: 1;
      background: #fbfaf7;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    gap: 80px;
    background: #fbfaf7;
    border-top: 1px solid #bbada8;
    padding: 60px 33px 60px 120px;
    position: absolute;
    top: 80px;
    left: 0;
    width: 525px;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    max-height: calc(100vh - 120px);
    overflow: auto;
    @media (max-width: 1024px) {
      max-height: calc(100vh - 116px);
    }
    @media (max-width: 550px) {
      max-height: none;
      overflow: visible;
    }
    & > button {
      display: none;
      @media (max-width: 550px) {
        display: block;
        position: absolute;
        top: 22px;
        right: 22px;
        width: 27px;
        height: 27px;
        border-radius: 100%;
        border: 1px solid #000;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    @media (max-width: 1024px) {
      width: calc(100vw / 2);
      top: 76px;
      padding: 60px 33px 60px 81px;
    }
    @media (max-width: 750px) {
      padding: 60px 30px 60px 30px;
    }
    @media (max-width: 550px) {
      width: 100%;
      top: 37px;
      padding: 36px;
      height: calc(100vh - 54px);
      overflow: auto;
      gap: 0;
    }
    &.active {
      transition: 0.3s;
      opacity: 1;
      visibility: visible;
    }
    & > ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 20px;
      @media (max-width: 550px) {
        align-items: center;
        text-align: center;
        &:nth-child(1) {
          padding-bottom: 50px;
          border-bottom: 1px solid #bbada8;
        }
        &:nth-child(2) {
          padding-top: 50px;
        }
      }
      & > li {
        &.active {
          & > ul {
            display: flex;
          }
        }
        & > a {
          color: #000;
          transition: 0.1s;
          position: relative;
          &:hover {
            padding-left: 13px;
            color: #543126;
            @media (max-width: 550px) {
              padding-left: 0;
            }
            &::before {
              content: "-";
              position: absolute;
              left: 0;
              @media (max-width: 550px) {
                display: none;
              }
            }
          }
        }
        &:hover {
          & > ul {
            opacity: 1;
            visibility: visible;
          }
        }
        & > ul {
          transition: 0.3s;
          opacity: 0;
          visibility: hidden;
          position: fixed;
          width: 425px;
          padding: 62px 84px 104px 77px;
          border: 1px solid #bbada8;
          background: #f7f3ee;
          left: 525px;
          top: 120px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 20px;
          max-height: calc(100vh - 120px);
          overflow: auto;
          @media (max-width: 1024px) {
            max-height: calc(100vh - 116px);
          }
          @media (max-width: 550px) {
            max-height: none;
            overflow: visible;
          }
          @media (max-width: 1024px) {
            width: calc(100vw / 2);
            top: 116px;
            left: calc(100vw / 2);
            padding: 60px 33px 60px 81px;
          }
          @media (max-width: 750px) {
            padding: 60px 30px 60px 30px;
          }
          @media (max-width: 550px) {
            opacity: 1;
            visibility: visible;
            position: static;
            padding: 0;
            border: 0;
            background: none;
            margin-top: 20px;
            font-weight: 300;
            font-size: 15px;
            align-items: center;
            display: none;
          }
          & > li {
            & > a {
              color: #000;
            }
          }
        }
      }
    }
  }
  &__registration {
    max-height: calc(100vh - 120px);
    overflow: auto;
    @media (max-width: 1024px) {
      max-height: calc(100vh - 116px);
    }
    & > form {
      display: flex;
      flex-direction: column;
      gap: 23px;
    }
    &-flex {
      display: flex;
      flex-direction: column;
      gap: 17px;
    }
    &-block {
      display: flex;
      flex-direction: column;
      gap: 10px;
      & > span {
        font-weight: 600;
        font-size: 14px;
        color: #543126;
        margin-bottom: 6px;
      }
    }
  }
  &__cart {
    position: absolute;
    top: 80px;
    border: 2px solid #ccbeb1;
    width: 525px;
    padding: 50px 70px 50px 44px;
    background: #f7f3ee;
    right: 0;
    max-height: calc(100vh - 120px);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    @media (max-width: 550px) {
      width: 100%;
      max-height: none;
      top: 37px;
      height: calc(100vh - 108px);
      padding: 17px;
      display: flex;
      flex-direction: column;
      border: none;
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
    & > h2 {
      font-size: 25px;
      text-align: center;
      color: #000;
      margin-bottom: 6px;
    }
    &-total {
      display: flex;
      justify-content: space-between;
      margin-top: 14px;
      font-size: 20px;
      color: #000;
      @media (max-width: 550px) {
        border-top: 1px solid #bbada8;
        margin: auto -17px 0 -17px;
        padding: 12px 26px 0 26px;
      }
    }
    & > div {
      padding-top: 14px;
      border-top: 1px solid #bbada8;
      display: flex;
      flex-direction: column;
      gap: 14px;
      & > button {
        font-size: 20px;
        text-align: center;
        color: #000;
        border: 1px solid #000;
        border-radius: 22px;
        background: transparent;
        height: 45px;
        @media (max-width: 550px) {
          margin: 0 9px;
        }
      }
      @media (max-width: 550px) {
        flex: 1 1 auto;
      }
    }
    &-flex {
      margin-top: 6px;
      & > div {
        display: flex;
        justify-content: space-between;
      }
    }
    &-item {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 6px;
      position: relative;
      & > img {
        width: 100%;
        height: 130px;
        object-fit: cover;
      }
      & > div {
        max-width: 255px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        color: #000;
        @media (max-width: 550px) {
          max-width: none;
          padding-right: 50px;
        }
      }
      & > button {
        position: absolute;
        background-color: transparent;
        right: 0;
        top: 0;
      }
    }
  }
  &__registration,
  &__entry {
    position: absolute;
    top: 80px;
    right: 88px;
    display: flex;
    flex-direction: column;
    width: 353px;
    background: #fbfaf7;
    border: 1px solid #eae1d3;
    padding: 22px 17px 24px 17px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    @media (max-width: 1024px) {
      right: 0;
      top: 76px;
    }
    @media (max-width: 550px) {
      top: 37px;
      width: 100%;
      height: calc(100vh - 108px);
      overflow: auto;
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
    & > h2 {
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      color: #271e1d;
      margin-bottom: 22px;
    }
  }
  &__entry {
    &-or {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 9px;
      text-align: center;
      & > p {
        margin-bottom: 7px;
      }
      & > span {
        font-size: 18px;
        color: #271e1d;
      }
    }
    &-btn {
      font-size: 18px;
      text-align: center;
      color: #271e1d;
      padding: 5px;
      border: 1.5px solid #ccbeb1;
      border-radius: 16px;
      background: #eae1d3;
    }
    & > form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      & > p {
        text-align: right;
        margin-bottom: -23px;
      }
    }
    &-flex {
      display: flex;
      justify-content: space-between;
    }
  }
}
.header.hide {
  transform: translateY(-100%);
  @media (max-width: 750px) {
    transform: none;
    display: none;
  }
}
