.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 40px 0;
  background: #fbfaf7;
  z-index: 1;
  & > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &__block-1,
  &__block-3 {
    display: flex;
    gap: 29px;
    white-space: nowrap;
    & > button {
      background-color: transparent;
      display: flex;
      gap: 19px;
      font-family: var(--font3);
      font-size: 20px;
      color: #000;
    }
  }
  &__block-2 {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 40px;
    color: #000;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    gap: 80px;
    background: #fbfaf7;
    border-top: 1px solid #bbada8;
    padding: 60px 33px 60px 120px;
    position: absolute;
    top: 80px;
    left: 0;
    width: 525px;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    &.active {
      transition: 0.3s;
      opacity: 1;
      visibility: visible;
    }
    & > ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 20px;
      & > li {
        & > a {
          color: #000;
        }
        &:hover {
          & > ul {
            opacity: 1;
            visibility: visible;
          }
        }
        & > ul {
          transition: 0.3s;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          width: 425px;
          padding: 62px 84px 104px 77px;
          border: 1px solid #bbada8;
          background: #f7f3ee;
          left: 525px;
          top: -1px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 20px;
          & > li {
            & > a {
              color: #000;
            }
          }
        }
      }
    }
  }
  &__registration {
    & > form {
      display: flex;
      flex-direction: column;
      gap: 23px;
    }
    &-flex {
      display: flex;
      flex-direction: column;
      gap: 17px;
    }
    &-block {
      display: flex;
      flex-direction: column;
      gap: 10px;
      & > span {
        font-weight: 600;
        font-size: 14px;
        color: #543126;
        margin-bottom: 6px;
      }
    }
  }
  &__registration,
  &__entry {
    position: absolute;
    top: 80px;
    right: 88px;
    display: flex;
    flex-direction: column;
    width: 353px;
    background: #fbfaf7;
    border: 1px solid #eae1d3;
    padding: 22px 17px 24px 17px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    & > h2 {
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      color: #271e1d;
      margin-bottom: 22px;
    }
  }
  &__entry {
    &-or {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 9px;
      text-align: center;
      & > p {
        margin-bottom: 7px;
      }
      & > span {
        font-size: 18px;
        color: #271e1d;
      }
    }
    &-btn {
      font-size: 18px;
      text-align: center;
      color: #271e1d;
      padding: 5px;
      border: 1.5px solid #ccbeb1;
      border-radius: 16px;
      background: #eae1d3;
    }
    & > form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      & > p {
        text-align: right;
        margin-bottom: -23px;
      }
    }
    &-flex {
      display: flex;
      justify-content: space-between;
    }
  }
}
