.my-addresses {
  &__address {
    max-width: 437px !important;
    & > h1 {
      font-weight: 700;
      font-size: 75px;
      color: #000;
      margin-bottom: 9px;
    }
    & > p {
      font-weight: 300;
      font-size: 20px;
      color: #000;
      margin-bottom: 22px;
    }
    & > form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      & > input {
        padding: 9px 23px;
        width: 100%;
        font-weight: 300;
        font-size: 20px;
        color: #000;
        border-bottom: 1px solid #000;
        background-color: transparent;
      }
      & > button {
        margin-top: 120px;
      }
    }
  }
}
