.news {
  padding: 120px 0 88px 0;
  height: 100%;
  background-color: #f8f3ee;
  @media (max-width: 1024px) {
    padding: 116px 0 88px 0;
  }
  @media (max-width: 550px) {
    padding: 54px 0 38px 0;
  }
  &__container {
    max-width: 1920px;
    margin: 0 auto;
    &-2 {
      @media (max-width: 550px) {
        padding: 0;
      }
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    @media (max-width: 1240px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
    &.column-3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__item {
    position: relative;
    &-img {
      @media (max-width: 1024px) {
        height: 520px !important;
      }
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 18px;
      &.absolute {
        position: absolute;
        bottom: 124px;
        left: 70px;
        right: 70px;
        @media (max-width: 550px) {
          position: static;
          padding: 0 17px;
        }
      }
      @media (max-width: 550px) {
        padding: 0 17px;
      }
      &.absolute-top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
      & > ul {
        display: flex;
        font-size: 20px;
        color: #000;
        @media (max-width: 550px) {
          font-size: 11px;
        }
        & > li {
          padding: 12px 18px 5px 12px;
          border-left: 1px solid #000;
        }
      }
      & > div {
        border: 1px dashed #000;
        & > h2 {
          text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          font-size: 36px;
          color: #000;
          @media (max-width: 550px) {
            font-size: 16px;
          }
        }
        & > p {
          font-size: 20px;
          color: #000;
          @media (max-width: 550px) {
            font-size: 14px;
          }
        }
      }
    }
  }
  &__secondary-grid {
    margin-top: 114px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 550px) {
      margin-top: 40px;
    }
  }
  &__small-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 22px;
    @media (max-width: 1240px) {
      grid-template-columns: 1fr;
    }
  }
  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 114px;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      & > div {
        &:nth-child(2) {
          display: none;
        }
      }
    }
    @media (max-width: 550px) {
      display: none;
    }
  }
}
