.pick-up-point-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(39, 30, 29, 0.86);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  & > div {
    width: 687px;
    height: 100%;
    background: #f7f3ee;
    margin-left: auto;
    overflow: auto;
    position: relative;
    & > button {
      position: absolute;
      right: 30px;
      top: 30px;
      background-color: transparent;
    }
    & > div {
      padding: 89px 149px 89px 129px;
      & > h2 {
        font-weight: 600;
        font-size: 40px;
        color: #000;
        margin-bottom: 34px;
      }
      & > ul {
        font-weight: 600;
        font-size: 20px;
        color: #000;
        display: flex;
        flex-direction: column;
        gap: 24px;
        & > li {
          & > a {
            color: #000;
          }
        }
      }
    }
  }
}
