.privacy-policy {
  padding: 201px 0 88px 0;
  height: 100%;
  & > div {
    & > h1 {
      font-weight: 600;
      font-size: 64px;
      text-align: center;
      color: #000;
      margin-bottom: 55px;
    }
    & > p {
      font-size: 20px;
      color: #000;
    }
  }
}
