.shops {
  padding: 201px 0 88px 0;
  height: 100%;
  @media (max-width: 1024px) {
    padding: 150px 0 88px 0;
  }
  @media (max-width: 550px) {
    padding: 70px 0 0 0;
  }
  & > div {
    display: flex;
    flex-direction: column;
    @media (max-width: 550px) {
      padding: 0;
    }
    & > iframe {
      @media (max-width: 550px) {
        height: 267px;
      }
    }
  }
  &__block {
    max-width: 910px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 89px;
    @media (max-width: 830px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 550px) {
      order: -1;
      margin-top: 0;
    }
    & > div {
      padding: 20px;
      &:first-child {
        border-right: 1.5px solid #ccbeb1;
        @media (max-width: 830px) {
          border-right: none;
          border-bottom: 1.5px solid #ccbeb1;
        }
        @media (max-width: 550px) {
          border-bottom: none;
        }
        & > h1 {
          font-weight: 700;
          font-size: 48px;
          color: #000;
          margin-bottom: 30px;
          @media (max-width: 550px) {
            text-align: center;
            font-size: 32px;
          }
        }
        & > p {
          display: flex;
          flex-direction: column;
          font-weight: 700;
          font-size: 20px;
          color: #000;
          & > a {
            color: #000;
          }
          @media (max-width: 550px) {
            text-align: center;
            font-size: 14px;
          }
        }
      }
      &:last-child {
        font-weight: 500;
        font-size: 20px;
        color: #000;
        @media (max-width: 550px) {
          text-align: center;
          font-size: 14px;
        }
        & > div {
          margin-top: 30px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          @media (max-width: 550px) {
            grid-template-columns: 1fr;
            gap: 16px;
          }
        }
      }
    }
  }
}
